@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform:  translateY(-50%);
  -ms-transform:      translateY(-50%);
  transform:          translateY(-50%);
}

@mixin horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform:  translateX(-50%);
  -ms-transform:      translateX(-50%);
  transform:          translateX(-50%);
}

@mixin horizontal-center-flex {
  display: flex !important;
  justify-content: center;
  float: none;
}

@mixin transform-none {
  -webkit-transform:  none;
  -ms-transform:      none;
  transform:          none;
}

@mixin rotate-elem($deg) {
  -webkit-transform:  rotate($deg);
  -ms-transform:      rotate($deg);
  transform:          rotate($deg);
}

@mixin disable-selectability {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@mixin element-animation($animation_name, $duration, $delay: 0) {
  animation-name: $animation_name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
}

@mixin element-animation-none {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}

@mixin dark-background {
  background-color: $complementary_blue;
  color: white;
}

@mixin dark-background-transparent($transparency) {
  background-color: rgba($complementary_blue, $transparency);
  color: white;
}

@mixin background-colour-gradient ($start_colour, $inter_colour, $inter_perc, $end_colour) {
    background: $start_colour; /* Old browsers */
    background: -moz-linear-gradient(top, $start_colour 0%, $inter_colour $inter_perc, $end_colour 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $start_colour 0%,$inter_colour $inter_perc,$end_colour 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $start_colour 0%,$inter_colour $inter_perc,$end_colour 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin filter-grayscale {
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

@mixin filter-none {
  filter: none;
  -webkit-filter: grayscale(0);
}

@mixin drop-shadow($hor, $ver, $blur, $spread, $color) {
  -webkit-box-shadow: $hor $ver $blur $spread $color;
  -moz-box-shadow:    $hor $ver $blur $spread $color;
  box-shadow:         $hor $ver $blur $spread $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

@mixin dashed-border($dashlength, $gaplength, $borderwidth, $color, $position: top) {
  $per: percentage($dashlength / ($dashlength + $gaplength));
  background-image: linear-gradient(to right, $color 0%, $color $per, rgba(0, 0, 0, 0) $per);
  background-position: 0 $position;
  background-size: ($dashlength + $gaplength) $borderwidth;
  background-repeat: repeat-x;
}

@mixin block-pseudo-element {
  content: "";
  display: block;
}

@mixin media-query($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

@mixin font-family-patrick {
  font-family: 'Patrick Hand', cursive;
}
