h1 {
  font-size: 22px;
  font-weight: $bold;

  text-transform: uppercase;
}

i {
  font-style: italic;
}

p {
  font-size: 18px;
  line-height: 1.26em;

  margin-bottom: 1.2em;

  strong {
    font-weight: $bold;
  }

  a {
    color: inherit;

    font-style: italic;
    text-decoration: none;

    border-bottom: 1px dashed $text_gray;

    &.contact {
      font-style: normal;

      position: relative;

      &:before {
        display: none;

        content: attr(data-tooltip);

        position: absolute;
        left: 50%;
        bottom: 100%;

        -webkit-transform:  translateX(-50%);
        -ms-transform:      translateX(-50%);
        transform:          translateX(-50%);

        padding: 10px 25px;

        color: white;
        text-align: center;
        font-weight: $regular;

        background: $main_orange;
        @include border-radius(5px);

        white-space: nowrap;
      }

      &:hover {
        &:before {
          display: block;
          @include element-animation(appear, 0.4s);
        }
      }
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

li {
  clear: both;

  & > a {
    display: block;

    width: inherit;
    height: inherit;
  }
}

.half {
  width: 50%;

  float: left;

  @include media-query($half_break) {
    width: 100%;

    float: none;

    margin-top: 64px;
  }

  &:first-of-type {
    @include media-query($half_break) {
      margin-top: 0;
    }
  }
}

.container {
  width: 1170px;

  margin: 0 auto;

  position: relative;

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  @include media-query($breakpoint_container_width) {
    width: 100%;
    padding: 0 48px;
  }
}

.lighter {
  font-weight: $light;
}

.dashed_separator {
  width: 960px;
  height: 2px;

  margin: 20px auto 0 auto;

  @include dashed-border(24px, 16px, 2px, rgba($complementary_blue, 0.4), bottom);
}
